<!-- views/contact.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Contact Us Page</title>
</head>
<body>
    <!-- Header section -->
    <%- include('partials/header') %>

    <!-- Banner section -->
    <section class="banner">
        <img src="/images/contact.jpeg" style="margin-top: 30px;" alt="Contact Us">
        <h1>You can contact me by filling out this form</h1>
    </section>

    <!-- Contact form -->
    <section class="contact-form">
        <div class="form-container" style="margin-top: -30px;">
            <h2>Your Details</h2>
            <% if (typeof successMessage !== 'undefined' && successMessage) { %>
                <div class="success-message">
                    <p><%= successMessage %></p>
                </div>
            <% } %>


            <form action="/contact" method="post">
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email: </label>
                <input type="email" id="email" name="email" required>

                <label for="phone">Phone: </label>
                <input type="tel" id="phone" name="phone">

                <label for="message">Message: </label>
                <textarea id="message" name="message" rows="4" required></textarea>

                <button type="submit" class="submit-button">Submit</button>
            </form>
        </div>
       
    </section>
    <footer>
        <p>&copy; 2024 Vraj Prajapati</p>
    </footer>
    <!-- Footer section -->
    
</body>
</html>
