<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <%- include('partials/header') %>
    
    <main>
        <br>
        <br>
        <br>
        <h1 style="text-align: center;">Experience</h1>   
        <section class="service">
            <div class="service-icon">
                <i class="fas fa-code"></i>
            </div>
            <h2>PHP Software Developer, Pooja Infotech</h2>
            <p>Utilized HTML, CSS, and JavaScript to ensure a smooth user experience. 
                <br>Contributed to back-end experience with MySQL. 
                <br> Wrote and created codes and programs to deploy a new web-app for existing software. 
                <br>Scheduled meeting with Clients to Demonstrate our work.</p>
        </section>
        <section class="service">
            <div class="service-icon">
                <i class="fas fa-mobile-alt"></i>
            </div>
            <h2>Research (Drug Sentiment Analysis)</h2>
            <p>IDeveloped sentiment analysis models using prominent NLP-based deep learning algorithms including BI-LSTM, 
                CNN, GRU, Logistic Regression, and Random Forest. 
                <br>Explored frameworks like TensorFlow, Keras, and Transformer. </p>
        </section>
        
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>
